<style>
.row {
	  margin-right: 7px;
	  margin-left: 7px;
}
</style>
<div class="container">
   
     <div class="row">
        <div class="col-md-12">
         	<a class="btn btn-primary"  style="margin-bottom:20px; float:right" ng-href="javascript:void(0);">
                 <span style="padding:2px;" class="glyphicon glyphicon-shopping-cart"></span>{{ getTotalQty() }} Cart
                 <span style="padding:2px;">${{ getTotalSum() }} </span>
             </a>
                     
      		<a ng-href="#po" class="btn btn-primary" style="margin-bottom:20px; margin-right: 40px; float:right">ADD MORE SHOPPING</a>
            <h4 class="page-head-line" style="color: #286090; border-bottom: 2px solid #286090;">Purchase Orders Cart List</h4>
        </div>
     </div>
     
     
    <div class="row" ng-show="cartItem.items.length">
	<div class="panel panel-default">
   			<div class="panel-heading">
              Items in your cart
            </div>
            <div class="panel-body">
            
                <div class="table-responsive" style="overflow-x:hidden;"><span class="error_msg_var">{{ validationError }}</span> 
                <!--{{ allProducts | json  }} </pre>-->
                    <table id="order_tab" class="table table-striped table-bordered" cellspacing="0" width="80%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Vendor</th>
                                <th>Category</th>
                                <th>Title</th>
                                <th>Image</th>
                                <th style="width: 10%;">Price</th>
                                <th style="width: 10%;">Quantity</th>
                                <th style="width: 12%;">Total Price</th>
                                <th>Update Cart</th>
                                <th>Remove Cart</th>
                            </tr>
                        </thead>
                        <tbody>
                          			 <tr ng-repeat="itm in cartItem.items">
                                     <td>{{$index+1}}</td>
                                     <td>{{itm.vendor}}</td>
                                     <td>{{itm.category}}</td>
                                     <td>{{itm.title}} ({{itm.size}}  {{ itm.metric | uppercase }} {{ itm.qty }}/{{ itm.qty_type | uppercase }} )</td>
                                     <td><img style="height:50px;"  ng-src="/img/product/small/{{itm.img}}" />     </td>
                                     <td><input type="text"  class="form-control" ng-model="itm.price" /></td>
                                     <td><input type="text"  class="form-control"  ng-model="itm.quantity" /></td>
                                     <td> ${{  itm.sum = roundOfValue(itm.quantity * itm.price) }} </td>
                                      <td><a class="btn btn-primary btn-sm" ng-click="updateToCart(itm)">Update Cart</a></td>
                                     <td><a class="btn btn-primary btn-sm" ng-click="removeCart($index)">Remove Cart</a></td>
                                    </tr>
                                    
                        </tbody>
                    </table>
                    <!--<pre>{{ filteredItemsLen() }}</pre>-->
                </div>
            </div>
            
    </div>

    
    <div class="row"  style="margin:0 0 0 25px; border-top-color:#0000FF;">
        <div class="col-xs-12 col-lg-12" style="text-align:center"><span style="font-weight:bold;">Order Total:</span> ${{ cartTotalSum() }}</div>
    </div>
    
    <div class="row"  style="margin:0 0 0 25px; border-top-color:#0000FF;">
        <div class="col-lg-4" style="text-align:center;">
          <a ng-href="#po" class="btn btn-primary btn-sm">ADD MORE SHOPPING</a> 
        </div>
        <div class="col-lg-4" style="text-align:center;">
         <button type="button" class="btn btn-primary btn-sm" ng-click="submitCart('pending');">SAVE CART</button>
        </div>
         <div class="col-lg-4" style="text-align:center;">
         <button type="button" class="btn btn-primary btn-sm" ng-click="submitCart('submit');">SUBMIT CART</button>
        </div>
     </div>
     
    <br/><br/>

    <div>

    <div class="row" ng-hide="cartItem.items.length"  style="margin:0 0 0 25px;">
        <div class="col-xs-12 col-lg-12">
             <h2>Items in your cart</h2>
            <p>Cart items is not available</p>
        </div>
    <div>
    
 </div>