
    <h2>{{name}}</h2>
    <input type="text" ng-model="search" placeholder="Search"/>
    <a href="#/" ng-click="searchProduct()">Find</a>

    <select name="singleSelect" ng-model="singleSelectData">
      <option value="ProductDetail.offerprice">Low - High</option>
      <option value="- ProductDetail.offerprice">High - Low</option>
    </select>
<br>

<ul id="manufactureGroup" >
<li style="list-style-type: none;" ng-repeat="(manufactuerName, rule) in rules.Product | groupBy: 'ProductDetail.manufacture'">
   <!--  <label>
      {{ manufactuerName }} 
       <input type= "checkbox" ng-model="newObject[cleanProperty(manufactuerName)]" ng-change="includeColour(newObject[cleanProperty(manufactuerName)])"> 
     <input type= "checkbox"  ng-click="cleanProperty(manufactuerName)" checked="checked" />
    </label></li>-->
</ul>
<!-- <pre>{{newObject | json}}</pre> -->

<div class="row">
    <br/>
     <!-- <div class="col-md-4" ng-repeat="rule in rules.Product | filter: filterByManufacture | filter: search  | orderBy: singleSelectData"> -->
    <div class="col-md-6" >
        
    </div>
    <div class="col-md-6" ng-repeat="rule in rules.Product | orderBy: singleSelectData">
 
        <div ng-if="rule.ProductDetail.image_url != 'NA'" >
            <a ng-href="/#productdetail/{{rule.ProductDetail.id}}">
            <img ng-src="{{ rule.ProductDetail.image_url }}" ng-alt="{{ rule.ProductDetail.title }}" style="width:150px; height:150px" />
            <p>{{rule.ProductDetail.title}}</p>
            <p>{{rule.ProductDetail.manufacture}}</p>  
            <p>${{rule.ProductDetail.offerprice}}</p> 
            </a> 
            
        </div>
    </div>
</div>