<div class="container">
   
     <div class="row">
      <!--  <div class="col-md-12" ng-if="editCart">
                     <a class="btn btn-primary"  style="margin-bottom:20px; float:right; background-color: #F0677C; border: 2px solid #F0677C;" ng-href="#editcart/{{ ordId }}">
                     <span style="padding:2px;" class="glyphicon glyphicon-shopping-cart"></span>{{ getTotalQty() }} Cart
                     <span style="padding:2px;">${{ getTotalSum() }} </span>
                     </a>
            <h4 class="page-head-line">Edit Sales Order</h4>
        </div>-->
        
        <div class="col-md-12">
                     <a class="btn btn-primary" ng-if="getTotalQty() >0"  style="margin-bottom:20px; float:right; background-color: #F0677C; border: 2px solid #F0677C;" ng-click="submitSales()">
                     <span style="padding:2px;" class="glyphicon glyphicon-shopping-cart"></span>{{ getTotalQty() }} / <span style="padding:2px;">${{ getTotalSum() }} </span> Submit Sales Order
                     
                     </a>
            <h4 class="page-head-line">Sales Order</h4>
        </div>
     </div>
     
 	<div class="row">	
 	 <div class="col-md-12">
     
        <div class="row">	
            <div class="col-md-12">
                 <div class="form-group">
                    <div class="col-md-2"><label><i class="fa fa-question-circle fa-fw"></i> Vendor List</label></div>
                    <div class="col-md-2">
                        <select class="form-control" ng-model="selectedVendor" ng-change="changeCategory()">
                            <option value="">Choose Vendor</option>
                            <option  ng-repeat="allVendor in vendor" value="{{allVendor.vendorName}}">{{allVendor.vendorName}}</option>
                        </select>
                    </div>
                     <div class="col-md-4">
                     <input type="text" class="form-control" ng-model="search" placeholder="search"/>
                     </div>

                 </div>
            </div>
        </div>
        
        <div class="row"  ng-show="selectedVendor!=''">  
          <div class="col-md-12">
                 <div class="form-group">
                    <div class="col-md-2"><label><i class="fa fa-question-circle fa-fw"></i>Category List</label></div><br/>
                     <!-- <pre>{{category | json}}</pre>-->
                   	 <div class="col-md-12">    
                          <label style="padding: 05px 10px 10px 10px;" ng-repeat="allCategory in category | filter:categoryFilterExpression | orderBy:'+categoryName' | unique:'categoryName'">{{allCategory.categoryName}}
							 <!--<input type="checkbox" ng-model="allCategory.categoryNamebox" ng-click="checkCategory(allCategory.categoryName)">-->
                           <input type="checkbox" ng-model="allCategory.categoryNamebox" ng-click="checkCategory(allCategory.categoryName)">
                          </label><br/>
                     </div>
                 </div>
           </div>
       </div>
            
         </div>
	 </div>
        
        <div class="panel panel-default" ng-show="showProduct">
            <div class="panel-heading">
                Products List
            </div>
            <div class="panel-body">
            
                <div class="table-responsive" style="overflow-x:hidden;"><span class="error_msg_var">{{ validationError }}</span> 
                <!--{{ allProducts | json  }} </pre>-->
                    <table id="order_tab" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Vendor</th>
                                <th>Category</th>
                                <th style="width: 18%;">Title</th>
                                <th>Image</th>
                                <th style="width: 10%;">Sales Price</th>
                                <th style="width: 10%;">Sales Qty</th>
                                <th style="width: 10%;">Cust Return Qty</th>
                                <th style="width: 10%;">MFG Return Qty</th>
                                <th style="width: 10%;">Total Price</th>
                                <th>Sellable Qty</th>
                                <th>Add items</th>
                            </tr>
                        </thead>
                        <tbody>
                          			 <tr ng-repeat="result in (filteredItems = (product | filter:productFilterExpression | filter:categoryProductFilterExpression | filter:search)) | startFrom:currentPage*pageSize | limitTo:pageSize" for="{{name}}">
                                     <td>{{$index+1}}</td>
                                     <td>{{result.vendor}}</td>
                                     <td>{{result.category}}</td>
                                     <td>{{result.title}} ({{result.size}}  {{ result.metric | uppercase }} {{ result.qty }}/{{ result.qty_type | uppercase }} )</td>
                                     <td><img style="height:50px;" ng-src="/img/product/small/{{result.image}}" /></td>
                                     <td><input type="text"  class="form-control"  ng-model="result.price"/></td>
                                     <td><input type="text"  class="form-control"  ng-model="result.sold_qty" /></td>
                                     <td><input type="text"  class="form-control"  ng-model="result.cr_qty" /></td>
                                     <td><input type="text"  class="form-control"  ng-model="result.mfg_qty" /></td>
                                     <td> ${{  result.sum = roundOfValue(result.sold_qty * result.price) }} </td>
                                     <td>{{result.sellable_qty = ( result.invoice_qty -(result.db_sold_qty -- result.db_cr_qty -- result.db_mfg_qty)) -(result.sold_qty -- result.cr_qty -- result.mfg_qty) }}</td>
                                     <td><a ng-if="result.sellable_qty >=0" style="float:right; background-color: #F0677C; border: 2px solid #F0677C;" ng-click="addToCart(result,'add')" class="btn btn-primary">Add to Sale</a>
                                     <p ng-if="result.sellable_qty <0" style="color:red; width: 80px;">Out of Stock</p>
                                     </td>
                                    </tr>
                                    
                        </tbody>
                    </table>
                  <!--  <p><pre>{{ cookieCartItems | json}}</pre></p>-->
                    <ul class="pager">
                      <li><a href="javascript:void(0)" ng-hide="currentPage == 0" ng-click="currentPage=currentPage-1">Previous</a></li>
                      <li> <span ng-cloak>{{currentPage+1}}/{{numberOfPages()}}</span></li>
                      <li><a href="javascript:void(0)" ng-hide="currentPage >= filteredItemsLen()/pageSize - 1" ng-click="currentPage=currentPage+1">Next</a></li>
                    </ul>
                    <!--<pre>{{ filteredItemsLen() }}</pre>-->
                </div>
            </div>
            
    </div>